cachetools==5.5.1
colorama==0.4.6
DateTime==5.5
google-auth==2.38.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
oauthlib==3.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pytz==2024.2
requests-oauthlib==2.0.0
rsa==4.9
zope.interface==7.2
